src/main/mule/choice1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c584c336-5c0f-4400-8e51-307096e39880" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="choice1Flow" doc:id="f9835f2b-8fa1-4773-bd6d-1e98a732c334" >
		<http:listener doc:name="Listener" doc:id="3600b515-330b-4d37-947d-61c962fbe7f7" config-ref="HTTP_Listener_config" path="/choice1"/>
		<choice doc:name="Choice" doc:id="e8ec8c99-fcc4-4a89-bd16-c3c11aa6a4f5" >
			<when expression='#[payload.city == "Hyd" and payload.state == "TN"]'>
				<ee:transform doc:name="Transform Message" doc:id="a982dedb-dc71-4fd9-8cce-c8cd1f71e50d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status": "Hyd is famous for Biryanis"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="090d2ac4-decb-408c-a960-e1a52119b37c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status": "Please choose proper city and state name"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
